<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>
    
    <h1>I'm in ejs, rendered!</h1>

    <p><%=pageTitle%></p>

    <h2>Here is a post method</h2>
    <form method="POST" action="/saveMyName">
        <input name="myName">
        <input type="submit" value="Save my name!">
    </form>

    <h2>Here is a get method</h2>
    <form method="GET" action="/saveMyNameGet">
        <input name="myName">
        <input type="submit" value="Save my name!">
    </form>

</body>
</html>